@font-face {
  font-family: "Soleil Bold";
  src: url("../fonts/Soleil-Bold.woff2") format("woff2"),
    url("../fonts/Soleil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Soleil";
  src: url("../fonts/Soleil-Regular.woff2") format("woff2"),
    url("../fonts/Soleil-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
}
body {
  font-family: "Soleil, -apple-system, 'Segoe UI', Roboto, Helvetica";
}
p,
a {
  font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  max-width: 100%;
}
