@font-face {
  font-family: "Soleil Bold";
  src: url("../fonts/Soleil-Bold.woff2") format("woff2"),
    url("../fonts/Soleil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Soleil";
  src: url("../fonts/Soleil-Regular.woff2") format("woff2"),
    url("../fonts/Soleil-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calluna";
  src: url("../fonts/Calluna-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calluna Italic";
  src: url("../fonts/Calluna-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  background-color: #ddd;
}
body {
  font-family: "Soleil, -apple-system, 'Segoe UI', Roboto, Helvetica";
}
a {
  color: #f11414;
  text-decoration: none;
}
a:hover {
  color: #b40909;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 19px;
  font-family: Calluna, "Times New Roman", Times, serif;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 40px;
  color: #292e36;
}
@media (max-width: 768px) {
  p {
    margin-bottom: 20px;
  }
}
img {
  max-width: 100%;
}
